img {
    max-width: 10%;
    display: inline-block;
    margin: .5em;
    -webkit-transition: max-width 1s, height 1s, transform 3s;
    transition: max-width 1s, height 1s, transform 3s;
}

img:hover {
    /* transform: rotate(360deg); */
    max-width: 40%;
}

.imageContainer {
    width: 90%;
    display: block;
    margin: auto;
}