<h2>Welcome to The Island of Hawaii, aka The Big Island!</h2>
<div class="imageContainer">
    <img src="./assets/BigIsland/IMG_4010.jpg" alt="">
    <img src="./assets/BigIsland/DSCN0566.JPG" alt="">
    <img src="./assets/BigIsland/IMG_4036.jpg" alt="">
    <img src="./assets/BigIsland/IMG_4096.jpg" alt="">
    <img src="./assets/BigIsland/IMG_4032.jpg" alt="">
    <img src="./assets/BigIsland/IMG_4119.jpg" alt="">
</div>
<div class="imageContainer">
    <img src="./assets/BigIsland/DSCN0611.JPG" alt="">
    <img src="./assets/BigIsland/DSCN0617.JPG" alt="">
    <img src="./assets/BigIsland/DSCN0608.JPG" alt="">
    <img src="./assets/BigIsland/IMG_4125.jpg" alt="">
    <img src="./assets/BigIsland/DSCN0628.JPG" alt="">
    <img src="./assets/BigIsland/IMG_4102.jpg" alt="">
</div>
<div class="imageContainer">
    <img src="./assets/BigIsland/DSCN0565.JPG" alt="">
    <img src="./assets/BigIsland/DSCN0571.JPG" alt="">
    <img src="./assets/BigIsland/IMG_4028.jpg" alt="">
    <img src="./assets/BigIsland/IMG_4121.jpg" alt="">
    <img src="./assets/BigIsland/DSCN0457.JPG" alt="">
    <img src="./assets/BigIsland/IMG_4054.jpg" alt="">
</div>
<div class="imageContainer">
    <img src="./assets/BigIsland/IMG_4089.jpg" alt="">
    <img src="./assets/BigIsland/IMG_4041.jpg" alt="">
    <img src="./assets/BigIsland/DSCN0456.JPG" alt="">
    <img src="./assets/BigIsland/DSCN0477.JPG" alt="">
    <img src="./assets/BigIsland/IMG_4036.jpg" alt="">
    <img src="./assets/BigIsland/IMG_4055.jpg" alt="">
</div>